body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #2CB1E9;
    padding: 5px 20px;
    
}

.navbar-nav li {
    font-weight: 500; 
}

.navbar .btn {
    color: black; 
    font-size: 12px;
    padding: 10px 20px;
    font-weight: 500;
    background-color: white; 
}

.navbar .btn:hover {
    background-color: #2CB1E9;
}

.card {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    padding: 15px;
}

.pie-chart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.pie-chart-container {
    width: 450px;
    height: 450px;
    margin-top: 20px;
}

.pie-chart {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(
        #FFC107 0% 7.84%,       
        #1B3A4B 7.84% 17.54%,   
        #FF9800 17.54% 30.63%,   
        #E91E63 30.63% 51.15%,   
        #4CAF50 51.15% 65.98%,  
        #3498DB 65.98% 79.77%,   
        #FF5722 79.77% 91.29%,   
        #607D8B 91.29% 100%     
    );
}

.keterangan {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.keterangan-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 15px;
}

.color {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    border-radius: 50%;
}

.color-1 { background-color: #FFC107; }
.color-2 { background-color: #1B3A4B; }
.color-3 { background-color: #FF9800; }
.color-4 { background-color: #E91E63; }
.color-5 { background-color: #4CAF50; }
.color-6 { background-color: #3498DB; }
.color-7 { background-color: #FF5722; }
.color-8 { background-color: #607D8B; }

.judul {
    font-weight: 700; 
    font-size: 28px; 
    color: black; 
    margin: 30px; 
    text-align: center;
}

.text-update {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.text-update .text-item {
    font-weight: 500;
}

.footer {
    background-color: #2CB1E9;
    color: #fff; 
    padding: 20px 0; 
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    height: 160px;
    margin: 0 auto; 
    padding: 0 40px; 
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-logo {
    width: 80px; 
    height: auto;
    margin-right: 10px;
}

.footer-text {
    font-size: 14px;
    margin: 0;
}

.footer-desa {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-right: 10px;
}

.footer-contact {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.footer-text1 {
font-weight: 600; 
font-size: 28px;
margin-bottom: -8px;
}

.footer-text2 {
font-weight: 400; 
font-size: 16px;
}

.footer-contact1 {
font-weight: 600; 
font-size: 24px;
}

.inline-item {
margin-top: -18px;
}

.inline {
padding: 4px 0;
}

@media (max-width: 576px) {
    .text-update {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .pie-chart-container {
        width: 280px;
        height: 280px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
      }
}

@media (min-width: 576px) and (max-width: 768px) {
    .pie-chart-container {
        width: 350px;
        height: 350px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .pie-chart-container {
        width: 400px;
        height: 400px;
    }
    
}